/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 페이지 기본 설정 */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

/* 링크 기본 스타일 */
a {
    text-decoration: none;
    color: inherit;
}

/* 리스트 스타일 제거 */

/* 두번째로 삭제함!!!!
ul, ol {
    list-style: none;
}
*/

/* 이미지 반응형 */

/* 첫번째로 삭제함!!!1
img {
    max-width: 100%;
    height: auto;
    display: block;
} */